.Main_body{
  position: relative;
}

.circle {
  background: rgba(56,70,99,254); /* Adjust the alpha value as needed */
  height: 53px;
  width: 53px;
  border-radius: 50%;
  margin: 32vw 40vw;
display: flex;
justify-content: center;
align-items: center;
  position: relative;

}
circle{
fill: none;
stroke: #66f3a2;
stroke-width: 4.5px;
stroke-dasharray:290;
stroke-dashoffset:290;
animation: anim 25s linear forwards;
 z-index: 1; /* Ensure circle is above SVG */
}
svg {
  position: absolute;
  top: -2px;
  left: calc(40vw - 3px); /* Adjust to position SVG next to the circle */
}
@keyframes  anim {
100%{
  stroke-dashoffset:0;

}

}

.circle #number {
  color: white; /* Text color */
  font-size: 12px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  /* Ensure the text is above the circle */
}